
body{
    background-color: white;
}
.header{
    position: fixed;
    top: 0%;
    width: 100%;
    display: grid;
    grid-template-columns: 690px 760px 10px ;
    color: rgb(234, 242, 238);
    background-color: rgb(6, 54, 246);
}
.header2{
    position: fixed;
    top: 8%;
    width: 100%;
    color: rgb(49, 150, 88);
    background-color:rgb(255, 253, 253);
    border: 2px white;
    border-style: none none solid none;
    box-shadow:2px 2px 12px 2px rgb(201, 199, 199);
}
.h{
    display: grid;
    font-weight: bold;
    grid-template-columns: 720px 170px 100px ;
}
.incomeh{
    margin-top: 10px;
    margin-bottom: 0%;
    font-weight: bold;
    color: rgb(43, 43, 252);
   
    
}
.incomename{
    display: flex;
    justify-content:space-evenly;
    flex:1;
}
#gt{
    margin:100px 630px;
    
}
#date{
    margin:10px 0px;
    
}

.bottom{
    
    position: fixed;
    bottom: 0%;
    padding: 10px 30px;
    width:100% ;
    border: 2px white;
    border-style: none none solid none;
    box-shadow:2px 2px 12px 2px rgb(201, 199, 199);
}
.bt{
    float:left;
    margin-right: 180px;
    line-height:0px ;
    color: rgb(93, 90, 90);
}
.bt:hover, .bt:active {
    color: rgb(6, 54, 246);
}

#icon{
    margin-left: 200px;
}
.addbt{
    
    border-radius: 10px;
    padding: 10px 35px;
    font-weight: bolder;
    
    width: max-content;
    background-color: rgb(49, 49, 245);
    border:2px solid rgb(53, 57, 249);
   
    

}

.body{
    margin-top: 200px;
    margin-left: 20%;
    width: 60%;
    
}
.body h3 {
    color: rgb(132, 134, 131);
    text-align: center;
}
.body p{
    color: rgb(114, 177, 240);
   
}
.labels{
    float:left;
}
.labs{
    display: grid;
    grid-template-columns: 7% 75% 10%;
    margin-top: 20px;
    border: 2px solid rgba(187, 200, 207, 0.44);
    padding: 10px 20px 0px 10px;
    border-radius: 15px;
    width: 70%;
    margin-left: 17%;
    
   
}
hr{
    color: rgb(195, 250, 141);
}
.name{
    line-height: 0%;
    margin: 0px 30px;
    
}
.data{
    display: none;
    width:400px;
    position: relative;
    left:20%;
    text-align: center;
    box-shadow: 2px 2px 12px 2px rgb(152, 151, 151);
   
    
}
.data1{
    margin-bottom: 0%;
    padding-bottom: 0%;
    height: 200px;
    background-color: rgb(248, 2, 2);
    color:rgb(238, 239, 240)
}
.data2{
    position: relative;
    margin-top: 0%;
    width:400px ;
    padding-top: 0%;
    height: 200px;
    background-color: rgb(252, 250, 250);
    color:rgb(17, 94, 6)
}
.data p{
    font-size: larger;
    font-weight: bold;
}
/*.trd:hover .data{
    display: block;
}*/

@media screen and (max-width:925px){
    #gt{
        margin:100px 250px;
        
    }
    #date{
        margin:10px 0px;
        
    }
    
    .incomename{
        display: flex;
        justify-content: space-around;
        flex:1;
    }
    .h{
        font-weight: bold;
        display: grid;
        grid-template-columns: 330px 170px 100px ;
    }
   
    .header{
   
        display: grid;
        grid-template-columns: 300px 390px 10px ;
    }
    .bt{
        
        margin-right: 65px;
        
        
    }
    #icon{
        margin-left:50px;
    }
    .add{
        position:fixed;
        top: 78%;
        background-color: rgb(247, 244, 240);
        color: rgb(30, 30, 30);
    
    }
    .body{
        margin-top: 190px;
        width: 100%;
        margin-left: 0%;
        
        
    }
    .labs{
        margin-left: 13%;
    }
    .body h3 {
        color: rgb(115, 115, 116);
        text-align: center;
        
    }
    .body p{
        color: rgb(31, 192, 85);
       
    }
    .labels{
        float:left;
    }
    
    hr{
        color: rgb(195, 250, 141);
    }
    .name{
        line-height: 0%;
        margin: 0px 30px;
        
    }
    
}