
.side{
    z-index: 5;
    width: 20%;
    position: fixed;
    background-color: white;
   
    height:100vh;
    position: fixed;
    top: 0;
    margin: 0%;
    padding:10px ;
    left: 0;
    display: none;
    
    box-shadow:2px 2px 12px 2px rgb(206, 203, 203) ;
}

@media screen and (max-width:925px){
    .side{
        width: 40%;
    }
}
@media screen and (max-width:600px){
    .side{
        width: 50%;
    }
}